li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  overflow: hidden;
  background-color: #333;
}

ul {
  margin: 0;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
